* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Kumbh Sans', sans-serif;   
    font-weight: 400;   
    font-size: 12px; 

    /* Page Color Variables */
    --top-gradient-color: hsl(273, 75%, 66%);
    --bottom-gradient-color: hsl(240, 73%, 65%);

    --heading-text-color: hsl(238, 29%, 16%);

    --accordion-heading-text-color: hsl(240, 6%, 50%);
    --hover-accordion-heading-text-color: hsl(14, 88%, 65%);
    --active-accordion-heading-text-color: hsl(237, 12%, 33%);

    --body-text-color: hsl(240, 6%, 50%);
    --divider-color: hsl(240, 5%, 91%);
}

html {
    background: linear-gradient(to bottom, var(--top-gradient-color) 20%, var(--bottom-gradient-color) 80%);   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-width: 300px;
    min-height: 650px;
}

body {
    width: 100vw;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: .25in;
}

h4 {
    color: var(--accordion-heading-text-color);
    font-size: 12px;
    font-weight: 400;
    padding: 1rem 0 1rem 0;
    transition: all ease .5s;
}

h4:hover {
    color: var(--hover-accordion-heading-text-color);
}

footer {
    align-self: center;
    justify-self: center;
}

p {
    color: var(--body-text-color);
    font-size: 1rem;
    line-height: 1.5em;
    width: calc(100% - 15px);
}

.accordion > main > section {
    border-bottom: .25px solid var(--divider-color);
    padding: 1rem 0;
}

.accordion h4::after {
    content: url("./images/icon-arrow-down.svg");
    display: block;
    float: right;
    animation: flipIconBack .5s ease 1 forwards;
    transform-origin: center;
}

.accordion > main main {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: all ease .5s;
}

.attribution { 
    font-size: 11px; 
}

.attribution a { 
    color: hsl(228, 4%, 25%); 
}


.card {
    background-color: #f5f5f5;
    border-radius: 20px;
}

section.expand > main {
    visibility: visible;
    opacity: 100%;
    max-height: 50px;
}

.expand h4 {
    color: var(--heading-text-color);
    font-weight: 700;
}

.expand h4::after {
    animation: flipIcon .5s ease 1 forwards;
    transform-origin: center;
}

@keyframes flipIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes flipIconBack {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 800px){
    body {
        display: grid;
        grid-template-columns: 6.25% 6.25% 1fr 6.25% 6.25%;
        grid-template-rows: .5in 1.375in 1.375in min-content .5in .875in;
    }

    footer {
        grid-row: 6 / -1;
        grid-column: 2 / -2;

        text-align: center;
        line-height: 1.5rem;
    }

    .accordion {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
    }

    /* Center header on mobile only */
    .accordion > header {
        text-align: center;
    }
    
    .background {
        grid-row: 2 / 4;
        grid-column: 3 / 4;

        width: 2.25in;
        

        justify-self: center;
        align-content: center;

        z-index: 10;

        position: relative;
        top: 135px;
    }

    .card {
        grid-row: 3 / -2;
        grid-column: 2 / -2;
    }

    .desktop {
        display: none;
    }

    .illustration {
        grid-row: 2 / 4;
        grid-column: 3 / 4;
        z-index: 2;

        width: 2.5in;

        justify-self: center;
        align-content: center;

        position: relative;
        top: 35px;
        right: 13px;
    }

    .mobile {
        display: block;
    }
}

@media only screen and (min-width: 800px){
    body {
        display: grid;

        grid-template-rows: 10% .75in min-content .75in 10%;
        grid-template-columns: .5fr .25in minmax(30%, 2fr) .5in minmax(30%, 2fr) .5in .5fr;
    }

    footer {
        grid-row: -2 / -1;
        grid-column: 3 / -2;

        padding: 1rem;
    }

    .accordion {
        grid-row: 3 / 4;
        grid-column: 5 / 6;

        align-self: center;
    }

    .background {
        grid-row: 2 / -2;
        grid-column: 3 / 4;

        z-index: 0;
        border-radius: 20px;

        background-image: url('./images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 65%;
        background-size: 250%;
    }

    .card {
        grid-row: 2 / -2;
        grid-column: 3 / -2;
    }

    .desktop {
        display: block;
    }

    .illustration {
        grid-row: 3 / 4;
        grid-column: 2 / 4;

        z-index: 1;
        width: 100%;

        align-self: center;
    }

    .mobile {
        display: none;
    }
}