* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Page Color Variables */
  --top-gradient-color: hsl(273, 75%, 66%);
  --bottom-gradient-color: hsl(240, 73%, 65%);

  --heading-text-color: hsl(238, 29%, 16%);

  --accordion-heading-text-color: hsl(240, 6%, 50%);
  --hover-accordion-heading-text-color: hsl(14, 88%, 65%);
  --active-accordion-heading-text-color: hsl(237, 12%, 33%);

  --body-text-color: hsl(240, 6%, 50%);
  --divider-color: hsl(240, 5%, 91%);

  /* Page Font Defaults */
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}

body {
  min-width: 37.5rem;
  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(2.4rem, 1fr) minmax(calc(37.5rem - 4.8rem), 80ch) minmax(2.4rem, 1fr);
  grid-template-rows: minmax(4rem, 1fr) 10.8rem repeat(2, max-content) minmax(2.5rem, 1fr);
  grid-template-areas:
    ". . ."
    ". 	illustration ."
    ". 	main 	."
    ". 	footer 		."
    ". . .";

  justify-items: center;

  background: linear-gradient(to bottom, var(--top-gradient-color) 20%, var(--bottom-gradient-color) 80%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  height: 55rem;
  width: 32.7rem;

  padding: 13rem 2.4rem 3.2rem 2.4rem;

  background-color: #f5f5f5;
  border-radius: 2.2rem;

  grid-area: main;
}

#mobile-illustration {
  grid-area: illustration;
  z-index: 1;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;

  padding-bottom: 1.7rem;
}

h2 {
  width: fit-content;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.0075em;

  color: var(--accordion-heading-text-color);

  padding: 1rem 0;
  transition: all ease 0.5s;
}

@media (hover: hover) {
  h2:hover {
    color: var(--hover-accordion-heading-text-color);
  }
}

h2:active {
  font-weight: 600;
  color: var(--active-accordion-heading-text-color);
}

.expand h2 {
  color: var(--heading-text-color);
  font-weight: 700;
}

.accordion > article {
  border-bottom: 0.25px solid var(--divider-color);
  padding: 0.6rem 0;
}

.accordion > article > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.expand-icon {
  height: 100%;
  align-self: center;
  animation: flipIconBack 0.5s ease 1 forwards;
  transform-origin: center;
}

.expand .expand-icon {
  animation: flipIcon 0.5s ease 1 forwards;
  transform-origin: center;
}

p {
  color: var(--body-text-color);
  font-size: 1.4rem;
  line-height: 1.68rem;
  margin-right: 1.6rem;
}

.accordion p {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0;

  transition-property: height, opacity, padding-bottom;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.accordion .expand p {
  height: fit-content;
  opacity: 100%;
  padding-bottom: 1.4rem;
}

footer {
  font-size: 1.1rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  grid-area: footer;
}

footer p,
footer a {
  color: hsl(228, 4%, 10%);
  line-height: 2.5rem;
}

@media (hover: hover) {
  footer a:hover {
    color: hsl(228, 20%, 0%);
    transition: color ease 0.5s;
  }
}

@keyframes flipIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes flipIconBack {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
